.u-about-title {
  background-image: url(pattern-02.png);
  background-size: cover;
  background-position: center;
  background-color: #4a91e0;

  & h1 {
    color: $white;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10vh 0;
  }
}

.u-about-content {
  background-color: $white;
  padding: 5vh;

  & h5 .highlight-text {
    color: $color-brand-primary;
  }
}
