.c-about__title{
  color: palette(white);
  text-transform: uppercase;
  font-weight: 700;
  background: palette('primary') url('pattern-02.png') center;
  padding: $base-spacing-unit;
  text-align: center;

  @include media-query(small) {
    transform: rotate(270deg) translateY(-$base-spacing-unit);
    transform-origin: center center;
    margin: 0;
    padding-top: 100%;
    position: relative;

    > span {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.c-ic-symbol {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
