#about {
  & .o-section__title {
    padding: 7%;
    background: #4a91e0 url(pattern-02.png) center;
    background-size: cover;
  }

  & article {
    padding: 3% 12%;

    & p {
      font-size: 120%;
      text-align: justify;

      @include media-query(start) {
        font-size: 140%;
      }

      & span {
        color: $color-brand-primary;
        font-weight: bold;
      }

      & a {
        font-weight: bold;
      }
    }
  }
}
