.c-cfs {
  margin: ($base-spacing-unit * 4) 0;
  padding: ($base-spacing-unit * 4) 0;
  background: url(pattern-03.png),
              linear-gradient(120deg, $color-brand-secondary-light 30%, $color-brand-secondary 70%);
  background-position: center;
  color: $white;
  text-transform: uppercase;

  & .c-btn-proposal {
    @include media-query(start) {
      font-size: 2em;
      height: 2em;
      line-height: 2em;
    }
  }
}
