.u-request-proposal {
  background-size: contain;
  background-position: center;
  background: url(pattern-03.png),
              linear-gradient(to right, $color-brand-secondary-light 0%, #614ab1 41%, $color-brand-primary-dark 100%);
}