.u-counter {
  background-size: contain;
  background-position: center;
  background: url(pattern-01.png),
              linear-gradient(to right, $color-brand-secondary-light 0%, #614ab1 41%, $color-brand-primary-dark 100%);
}

.u-counter h1 {
  font-size: 9vw;
  font-weight: 500;
  color: $white;
  text-shadow: 0.125vh 0.125vh 0.250vh $black;
  text-transform: uppercase;
}

.u-counter h5 {
  font-size: 4vw;
  color: $white;
  font-weight: 500;
}
