.c-counter {
  padding: ($base-spacing-unit * 2) 0;
  background-position: center;
  background: url(pattern-01.png),
  linear-gradient(120deg, $color-brand-secondary-light 30%, $color-brand-primary-dark 70%);
  text-align: center;
  color: $white;

  @include media-query(start) {
    padding: ($base-spacing-unit * 3) 0;
  }
  @include media-query(small) {
    padding: ($base-spacing-unit * 4) 0;
  }
}

.c-counter__number {
  font-size: 32px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
  display: block;
  line-height: 1;
  @extend %u-text-shadow;

  @include media-query(start) {
    font-size: 44px;
  }
  @include media-query(small) {
    font-size: 68px;
  }
}

.c-counter__unit {
  color: $white;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 0;
  display: block;
  line-height: 1;
  font-size: 13px;
  @extend %u-text-shadow;

  @include media-query(start) {
    font-size: 18px;
  }
  @include media-query(small) {
    font-size: 24px;
  }
}
