.u-navbar {
  position: absolute;
  top: 0;
  z-index: 99;
}

.u-navbar-logo {
  background-image: url(mobileday-logo.png);
  position: absolute;
  left: 7vh;
  width: 170px;
  height: 43px;
  background-size: contain;

  @include media-query(start) {
    width: 230px;
    height: 58px;
  }
}

.u-navbar nav {
  margin: 7vh;
  text-align: right;
}

.u-navbar nav a {
  font-size: 1rem;
  padding: 0 1vw;
  color: $white;
}

.u-navbar nav a:hover {
  color: $color-links-hover;
  text-decoration: none;
}
