.c-hero {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: auto 70%, 60% auto, 60vw, 55vw;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
  line-height: 1;

  @include media-query(small) {
    background-image: url(iphone.png), url(parallax-1.png), url(parallax-2.png);
  }
  @include media-query(large) {
    background-image: url(iphone.png), url(parallax-1.png), url(parallax-2.png), url(parallax-3.png);
  }
}

.c-hero__arrow {
  display: block;
  width: 45px;
  height: 45px;
  animation: fadeIn 2s infinite alternate;
  position: absolute;
  bottom: $base-spacing-unit;
  left: 50%;
  transform: translateX(-50%);
}
