.u-hero {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: auto 70%, 60vw, 60vw, 55vw;

  @include media-query(small) {
    background-image: url(iphone.png), url(parallax-1.png), url(parallax-2.png);
  }
  @include media-query(large) {
    background-image: url(iphone.png), url(parallax-1.png), url(parallax-2.png), url(parallax-3.png);
  }

  & h1 {
    font-size: 8vw;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;

    &.first-line {
      color: $white;
    }

    &.second-line {
      color: $color-brand-primary;
    }

    @include media-query(small) {
      @include inuit-font-size($inuit-heading-size-1);
    }
  }

  & h4 {
    font-size: 5vw;
    font-weight: 800;
    text-transform: uppercase;
    text-align: right;

    &.third-line {
      color: $white;
    }

    @include media-query(small) {
      @include inuit-font-size($inuit-heading-size-4);
    }
  }
}

#home {
  transition: padding-top .3s ease-in-out;
  height: 100%;
}

#home.in {
  padding-top: 8rem;
}

.o-hero-wrapper {
  height: 100%;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: $base-spacing-unit;
  padding-left: $base-spacing-unit;
  max-width: 584px;
}

@keyframes fadeIn {
  from { opacity: 0; }
}

.explore {
  width: 5vh;
  height: 5vh;
  color: #e6e6e6;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 1vh;
  animation: fadeIn 2s infinite alternate;
}
