.c-hero {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: auto 70%, 60% auto, 60vw, 55vw;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
  line-height: 1;

  @include media-query(small) {
    background-image: url(iphone.png), url(parallax-1.png), url(parallax-2.png);
  }
  @include media-query(large) {
    background-image: url(iphone.png), url(parallax-1.png), url(parallax-2.png), url(parallax-3.png);
  }

  h1{
    max-width: 496px;
    margin: 0 auto;
    font-size: 31px;

    @include media-query(start) {
      font-size: 44px;
    }
    @include media-query(small) {
      font-size: 56px;
    }
  }
  h4 {
    max-width: 496px;
    margin: 0 auto;
    font-size: 22px;

    @include media-query(start) {
      font-size: 28px;
    }
    @include media-query(small) {
      font-size: 32px;
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
}

.c-hero__arrow {
  display: block;
  width: 45px;
  height: 45px;
  animation: fadeIn 2s infinite alternate;
  position: absolute;
  bottom: $base-spacing-unit;
  left: 50%;
  transform: translateX(-50%);
  color: #e6e6e6;
}
