.c-subscribe-to-news {
  & h3 {
    text-align: center;
    color: $color-brand-primary;
    font-weight: 400;
  }

  p.centered {
    text-align: center;
  }
}

#mc_embed_signup #tlemail {
  height: $base-spacing-unit * 2;
}
