.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-summary {
  padding-top: $inuit-base-spacing-unit * 2;
  padding-bottom: $inuit-base-spacing-unit * 2;
  background-color: lighten($color-footer, 20%);

  @include media-query(small) {
    padding-top: $inuit-base-spacing-unit * 4;
    padding-bottom: $inuit-base-spacing-unit * 4;
  }
}

.c-summary__title {
  font-weight: 300;
  color: palette(white);
  text-align: center;
  margin-bottom: $inuit-base-spacing-unit * 2;

  @include media-query(small) {
    margin-bottom: $inuit-base-spacing-unit * 4;
  }
}
