.u-contact-panel {
  background-color: $color-map-primary-dark;
  opacity: 0.9;
}

.u-contact-details {

}

.u-map {
  background-image: url(map.png);
  background-repeat: no-repeat;
  background-position: center;
}