// Base heritage
// ==========================================================================

$content: '{ "particleCount" : 50 }';

.variables-metadata::before {
  content: $content;
}

head { font-family: $content; }

@include media-query(start) {
  $content: '{ "particleCount" : 100, "mobile_viewport" : true }';

  .variables-metadata::before {
    content: $content;
  }

  head { font-family: $content; }
}

@include media-query(small) {
  $content: '{ "particleCount" : 150, "mobile_viewport" : true }';

  .variables-metadata::before {
    content: $content;
  }

  head { font-family: $content; }
}

@include media-query(large) {
  $content: '{ "particleCount" : 250, "mobile_viewport" : false }';

  .variables-metadata::before {
    content: $content;
  }

  head { font-family: $content; }
}



html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5;

}

// Links
// ==========================================================================

a {
  text-decoration: none;
  color: $color-links;
  font-weight: 400;

  @include hocus() {
    text-decoration: underline;
  }
}





// Headings
// ==========================================================================

//
// We need in order to override user-agent default font-weight and Inuit line-height.
//

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800; // Be specific//
}
