// ==========================================================================
// Colors
// ==========================================================================

// Palette
$white:                                 #fff;
$black:                                 #000;

$color-brand-primary:                   #79ACE3;
$color-brand-secondary:                 #5D3165;
$color-brand-secondary-light:           #624DAD;
$color-brand-primary-dark:              #2B4488;
$color-footer:                          #251F2D;

$color-grey:                            #737373;
$color-grey-dark:                       mix($color-grey, $black, 50%);


// Page
$color-page-text:                       $color-grey-dark;
$color-page-background:                 #fff;

$inuit-base-text-color:		 			$color-page-text;
$inuit-base-background-color: 			$color-page-background;

$color-links:                           $color-brand-primary;
$color-links-hover:                     darken($color-brand-primary, 5%);


// Buttons
$color-btn:                             #fff;
$color-btn-background:                  $color-brand-primary;
$color-btn-background-hover:            darken($color-brand-primary, 5%);
$color-btn-secondary:                   #fff;
$color-btn-secondary-background:        transparent;
$color-btn-secondary-background-hover:  rgba($color-grey, 0.5);
