<section class="c-coc u-vm++">
  <div class="o-wrapper ">
    <h1 class="c-coc__title">Sessions</h1>

    <article class='c-articles'>

      <h2> Titulo de charla <small>9:00 - 10:00</small></h2>
      <p>
        Puedes contactarnos a través del correo hello@mobileday.uy. Durante la conferencia también puedes dirigirte a
        cualquiera de los organizadores o voluntarios, los cuales estarán debidamente identificados.
      </p>
      <p>Nombre Orador</p>
      <div>
        <ul>
          <li>tags</li>
          <li>tags</li>
        </ul>
      </div>

    </article>


    <article class='c-articles'>

      <h2> Titulo de charla <small>9:00 - 10:00</small></h2>
      <p>
        Puedes contactarnos a través del correo hello@mobileday.uy. Durante la conferencia también puedes dirigirte a
        cualquiera de los organizadores o voluntarios, los cuales estarán debidamente identificados.
      </p>
      <p>Nombre Orador</p>
      <div>
        <ul>
          <li>tags</li>
          <li>tags</li>
        </ul>
      </div>

    </article>
    <div class="o-box u-mv+"></div>
  </div>
</section>