<section class="c-coc u-vm++">
  <div class="o-wrapper">
    <h1 class="c-coc__title">Sessions</h1>

    <article id="1" class='c-articles'>
      <h2> Titulo de charla 1<small>9:30 - 10:10</small></h2>
      <p>
        Puedes contactarnos a través del correo hello@mobileday.uy. Durante la conferencia también puedes dirigirte a
        cualquiera de los organizadores o voluntarios, los cuales estarán debidamente identificados.
      </p>
      <p><a href="speakers.html#1">Nombre</a></p>
      <div>
        <ul>
          <li>tags</li>
          <li>tags</li>
        </ul>
      </div>
    </article>


    <article id="2" class='c-articles'>
      <h2> Titulo de charla 2<small>10:15 - 10:55</small></h2>
      <p>
        Puedes contactarnos a través del correo hello@mobileday.uy. Durante la conferencia también puedes dirigirte a
        cualquiera de los organizadores o voluntarios, los cuales estarán debidamente identificados.
      </p>
      <p><a href="speakers.html#2">Nombre</a></p>
      <div>
        <ul>
          <li>tags</li>
          <li>tags</li>
        </ul>
      </div>
    </article>

    <article id="3" class='c-articles'>
      <h2> Titulo de charla 3<small>11:30 - 12:10</small></h2>
      <p>
        Puedes contactarnos a través del correo hello@mobileday.uy. Durante la conferencia también puedes dirigirte a
        cualquiera de los organizadores o voluntarios, los cuales estarán debidamente identificados.
      </p>
      <p><a href="speakers.html#3">Nombre</a></p>
      <div>
        <ul>
          <li>tags</li>
          <li>tags</li>
        </ul>
      </div>
    </article>

    <article id="4" class='c-articles'>
      <h2> Titulo de charla 4<small>12:15 - 12:55</small></h2>
      <p>
        Puedes contactarnos a través del correo hello@mobileday.uy. Durante la conferencia también puedes dirigirte a
        cualquiera de los organizadores o voluntarios, los cuales estarán debidamente identificados.
      </p>
      <p><a href="speakers.html#4">Nombre</a></p>
      <div>
        <ul>
          <li>tags</li>
          <li>tags</li>
        </ul>
      </div>
    </article>

    <article id="5" class='c-articles'>
      <h2> Titulo de charla 5<small>14:30 - 15:10</small></h2>
      <p>
        Puedes contactarnos a través del correo hello@mobileday.uy. Durante la conferencia también puedes dirigirte a
        cualquiera de los organizadores o voluntarios, los cuales estarán debidamente identificados.
      </p>
      <p><a href="speakers.html#5">Nombre</a></p>
      <div>
        <ul>
          <li>tags</li>
          <li>tags</li>
        </ul>
      </div>
    </article>

    <article id="6" class='c-articles'>
      <h2> Titulo de charla 6<small>15:15 - 15:55</small></h2>
      <p>
        Puedes contactarnos a través del correo hello@mobileday.uy. Durante la conferencia también puedes dirigirte a
        cualquiera de los organizadores o voluntarios, los cuales estarán debidamente identificados.
      </p>
      <p><a href="speakers.html#6">Nombre</a></p>
      <div>
        <ul>
          <li>tags</li>
          <li>tags</li>
        </ul>
      </div>
    </article>

    <article id="7" class='c-articles'>
      <h2> Titulo de charla 7<small>16:30 - 17:10</small></h2>
      <p>
        Puedes contactarnos a través del correo hello@mobileday.uy. Durante la conferencia también puedes dirigirte a
        cualquiera de los organizadores o voluntarios, los cuales estarán debidamente identificados.
      </p>
      <p><a href="speakers.html#7">Nombre</a></p>
      <div>
        <ul>
          <li>tags</li>
          <li>tags</li>
        </ul>
      </div>
    </article>

    <article id="8" class='c-articles'>
      <h2> Titulo de charla 8<small>17:15 - 17:55</small></h2>
      <p>
        Puedes contactarnos a través del correo hello@mobileday.uy. Durante la conferencia también puedes dirigirte a
        cualquiera de los organizadores o voluntarios, los cuales estarán debidamente identificados.
      </p>
      <p><a href="speakers.html#8">Nombre</a></p>
      <div>
        <ul>
          <li>tags</li>
          <li>tags</li>
        </ul>
      </div>
    </article>

    <div class="o-box u-mv+"></div>
  </div>
</section>