html, body {
  height: 100%;
}

body {
  background: #1e5799;
  background: -webkit-linear-gradient(-45deg, #1e5799 0%,#47325f 50%,#68345e 100%);
  background: linear-gradient(135deg, #1e5799 0%,#47325f 50%,#68345e 100%);
  padding-top: 200px;
  box-sizing: border-box;
}

p {
  color: white;
  position: absolute;
  top: 50%;
  font-size: 2em;
  font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
  width: 100%;
  text-align: center;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.c-brand {
  width: 300px;
  display: block;
  margin: auto;
}