footer {
  background-color: $color-footer;

  & .u-footer-logo {
    background-image: url(mobileday-logo-greyscale.png);
    position: absolute;
    width: 170px;
    height: 43px;
    background-size: contain;
    opacity: 0.5;

    @include media-query(start) {
      width: 230px;
      height: 58px;
    }
  }

  & .transparent-separator {
    opacity: 0.5;
  }

  & li {
    color: white;
  }

  & .u-footer-right-graphic {
    background-image: url(ic-simbol.png);
    position: absolute;
    width: 48px;
    height: 85px;
    background-size: contain;

    @include media-query(start) {
      width: 98px;
      height: 171px;
    }
  }

  .social-nav {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);

    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      color: rgba(255,255,255,0.5);
      border-radius: 30px;
      border: 1px solid rgba(255,255,255,0.5);
      margin: 3px;

      &:hover, &:focus, &:active {
        color: $white;

        &.twitter {
          background: #1DA1F2;
          border-color: #1DA1F2;
        }

        &.facebook {
          background: #3B5998;
          border-color: #3B5998;
        }

        &.linkedin {
          background: #0E76A8;
          border-color: #0E76A8;
        }
      }
    }
  }
}