footer {
  background-color: $color-footer;
  height: 10%;
}

.social-nav {
  a {
    display: inline-block;
  }
}

.social-icon {
  width: 42px;
  height: 42px;
  margin: 3px;
  border-radius: 50%;
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  color: rgba(255,255,255,0.5);

  &:hover, &:focus, &:active {
    background: lighten($color-footer, 80%);
    //filter: blur(7px);
  }
}

.twitter {
  &:hover, &:focus, &:active {
    color: #1DA1F2;
  }
}

.facebook {
  &:hover, &:focus, &:active {
    color: #4267B2;
  }
}

.linkedin {
  &:hover, &:focus, &:active {
    color: #0E76A8;
  }
}

.youtube {
  &:hover, &:focus, &:active {
    color: #E62117;
  }
}

.github {
  &:hover, &:focus, &:active {
    color: #333;
  }
}

.meetup {
  &:hover, &:focus, &:active {
    color: #ED1C40;
  }
}

.email {
  &:hover, &:focus, &:active {
    color: #FFCC00;
  }
}
