footer {
  background-color: $color-footer;

  @include media-query(start) {
    & .u-footer-logo {
      background-image: url(mobileday-logo.png);
      filter: grayscale(100%);
      position: absolute;
      width: 170px;
      height: 43px;
      background-size: contain;
      opacity: 0.5;
      transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);

      &:hover {
        filter: none;
        opacity: 1;
      }
    }

    & .u-footer-right-graphic {
      background-image: url(ic-simbol.png);
      position: absolute;
      width: 48px;
      height: 85px;
      background-size: contain;
    }
  }
}

.social-nav {
  a {
    display: inline-block;
  }
}

.social-icon {
  width: 42px;
  height: 42px;
  margin: 3px;
  border-radius: 50%;
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  color: rgba(255,255,255,0.5);

  &:hover, &:focus, &:active {
    color: $white;
  }
}

.twitter {
  &:hover, &:focus, &:active {
    background: #1DA1F2;
  }
}

.facebook {
  &:hover, &:focus, &:active {
    background: #4267B2;
  }
}

.linkedin {
  &:hover, &:focus, &:active {
    background: #0E76A8;
  }
}

.youtube {
  &:hover, &:focus, &:active {
    background: #E62117;
  }
}

.github {
  &:hover, &:focus, &:active {
    background: #333;
  }
}

.meetup {
  &:hover, &:focus, &:active {
    background: #ED1C40;
  }
}

.email {
  &:hover, &:focus, &:active {
    background: #FFCC00;
  }
}
