@import "compass";

.u-home {
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}

.u-hero {
  background-repeat: no-repeat;
  background-position: center 100px;
  background-size: auto calc(100% - 200px), 80vw, 80vw, 80vw;

  @include media-query(small) {
    background-image: url(/images/iphone.png), url(/images/parallax-1.png), url(/images/parallax-2.png);
  }
  @include media-query(large) {
    background-image: url(/images/iphone.png), url(/images/parallax-1.png), url(/images/parallax-2.png), url(/images/parallax-3.png);
  }
}

.u-down-arrow {
  background-image: url(/images/ic-down.png);
  width: 21px;
  height: 12px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 15px;
}

.u-counter {
  background-size: contain;
  background-position: center;

  background-color: $color-brand-primary-dark; // Old browsers
  @include filter-gradient($color-brand-secondary-light, $color-brand-primary-dark, horizontal); // IE6-9
  @include background-image(
                  url(/images/pattern-01.png),
                  linear-gradient(left, $color-brand-secondary-light 0%,#614ab1 41%,$color-brand-primary-dark 100%)
  );
}

.u-request-proposal {
  background-size: contain;
  background-position: center;
  background-color: $color-brand-primary-dark; // Old browsers
  @include filter-gradient($color-brand-secondary-light, $color-brand-primary-dark, horizontal); // IE6-9
  @include background-image(
                  url(/images/pattern-03.png),
                  linear-gradient(left, $color-brand-secondary-light 0%,#614ab1 41%,$color-brand-primary-dark 100%)
  );
}

.u-about-title {
  background-image: url(/images/pattern-02.png);
  background-size: cover;
  background-position: center;
  background-color: $color-brand-primary;
}

.u-about {
  background-size: cover;
  background-position: center;
  background-color: $white;
}
