.u-home {
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}

.u-counter {
  background-image: url(/images/pattern-01.png);
  background-size: cover;
  background-position: center;
  background-color: #1e5799;
}

.u-request-proposal {
  background-image: url(/images/pattern-02.png);
  background-size: cover;
  background-position: center;
  background-color: #1e5799;
}