.c-articles {
  padding: 20px;
  color: white;
  margin: 10px 0;

  &:nth-child(odd){
    background: #22366d;
  }

  &:nth-child(even){
    background: #2B4488;
  }

  h2 {
    font-weight: 700;
    font-size: 20px;

    small{
      display: block;
      font-size: 16px;
      font-weight: 100;
    }

  }

  ul {
    margin: 0;
  }

  li {
    border-radius: 10px;
    display: inline-block;
    list-style: none;
    margin-right: $base-spacing-unit/2;
    margin-bottom: $base-spacing-unit/2;
    padding: $base-spacing-unit/4 $base-spacing-unit/2;

    @include media-query(start) {
      margin-bottom: 0;
    }
  }

  a {
    color: palette(white);
    text-decoration: none;
  }
}

.c-article__image {
  border-radius: 50%;
  width: 120px;
  margin: 0 $base-spacing-unit;
}
