// ==========================================================================
// Buttons
// ==========================================================================

//
// Buttos styles.
//

.c-btn {
  display: inline-block;
  margin: 0;
  border: transparent 1px solid;
  cursor: pointer;
  padding: 0 $base-spacing-unit;
  height: $base-spacing-unit * 2;
  vertical-align: middle;
  text-align: center;
  font: inherit;
  border-radius: 3px;
  font-weight: 800;

  @include hocus() {
    text-decoration: none;
  }
}

.c-btn--primary {
  transition: $base-transition;
  background-color: $color-btn-background;
  line-height: $base-spacing-unit * 2;
  color: $color-btn;

  @include hocus() {
    background-color: $color-btn-background-hover;
  }
}

.c-btn--secondary {
  transition: $base-transition;
  border: $color-btn-secondary 1px solid;
  background-color: $white;
  line-height: ($base-spacing-unit * 2) - 2;
  color: $color-brand-secondary;

  @include hocus() {
    background-color: mix($white, $color-brand-secondary, 90%);
  }
}

.c-btn--large {
  font-size: 1.4em;
  height: $base-spacing-unit * 3;
  line-height: ($base-spacing-unit * 3) - 2;
}