/*------------------------------------*\
    #SITE-NAV
\*------------------------------------*/

// Internal variables.
$logo-height:   64px;

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 2px;
  margin-right: -10px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  @include media-query(start) {
      margin-top: 8px;
  }
}

.navbar-toggle.collapsed {
  @include media-query(small) {
      display: none;
  }
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: $white;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.site-nav {
    @extend %clearfix;
    @include font-size(12px);

    @include media-query(start) {
        @include font-size(16px);
    }
}

.site-nav__home {
    display: block;
    float: left;
}

.site-nav__logo {
    display: block;
}

.site-nav__logo-fill {
    fill: $color-brand-primary;
}

/**
 * On smaller viewports, the nav is a 2x2 grid of links that lies perfectly
 * fluch with the top and bottom of the home link. On larger viewports, the
 * nav becomes a single row of links vertically centred to the logo, but
 * way over to the right.
 */
.site-nav__list {
    margin:  0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    height: 0;
    transition: height .3s ease-in-out;
    clear: both;

    @include media-query(small) {
        float: right;
        overflow: visible;
        height: auto;
        transition: none;
        clear: none;
    }
}

.site-nav__list.in {
  height: 8rem;

  .site-nav__item {
    width: auto;
    float: none;
  }
}

.site-nav__item {
    @include media-query(small) {
        float: left;
        width: auto;

        &:last-child a {
            padding-right: 0;
        }

    }

}

.site-nav__link {
    display: block;
    padding-right: 12px;
    padding-left:  12px;
    line-height: halve($logo-height);
    color: $color-site-nav;

    @include attention() {
        text-decoration: none;
        color: $color-links;
    }

    @include media-query(small) {
        line-height: $logo-height;
    }
}
