//
// Massive utility generator
// ==========================================================================

//
// Following list defines which properties will be available for using by the utility (.u-) namespace.
// Frist value works a a configuration value in order to set responsive behavior.
//

$utilities: (
  "float":                    responsive_true      left right none,
  "text-transform":           responsive_true      uppercase lowercase normal,
  "clear":                    responsive_false     left right both,
  "text-align":               responsive_false     center left right,
  "text-decoration":          responsive_false     line-through none,
  "font-weight":              responsive_false     300 800 400,
  "list-style":               responsive_false     none,
  "margin-left":              responsive_false     auto,
  "margin-right":             responsive_false     auto,
  "margin":                   responsive_false     auto,
  "position":                 responsive_false     absolute relative fixed,
  "overflow":                 responsive_false     hidden,
  "display":                  responsive_false     block inline-block inline none table table-cell responsive,
);

@each $i, $property in $utilities {

  //
  // @for statement starts with 2 in order to get ride of first value
  // that is a responsive behaviour setting but not a valid declaration value.
  //

  @for $n from 2 through length($property) {
    .u-#{$i}--#{nth($property, $n)} {
      #{$i}: nth($property, $n);
    }

    @if nth($property, 1) == responsive_true {
      .u-#{$i}--#{nth($property, $n)} {
        @include media-query(start) {
          &-start {
            #{$i}: nth($property, $n);
          }
        }

        @include media-query(small) {
          &-small {
            #{$i}: nth($property, $n);
          }
        }
      }
    }
  }
}





//
//  Text decoration
// ==========================================================================

.u-text-decoration--none:hover {
  text-decoration: none;
}





//
// Line Height
// ==========================================================================
$line-heights: 100 125 150 200 300;

@each $ln in $line-heights {
  .u-line-height--#{$ln} {
    line-height: $ln / 100;
  }
}

.u-font-size--13 {
  font-size: 13px;
}

.u-height--100 {
  height: 100%;
}

%u-text-shadow {
  text-shadow: 3px 3px 1px rgba($black, 0.25);
}
