<div id="about" class='u-mv++ u-pv++'>
  <div class="o-wrapper">
    <div class="o-layout">
      <div class="o-layout__item u-1-of-3-large">
        <h1 class='c-about__title'><span>¿Qué es?</span></h1>
      </div>
      <div class="o-layout__item u-2-of-3-large u-position--relative">
          <p>
            <span class='u-color--primary'>MobileDay</span> es la primera conferencia de tecnologías Mobile del Uruguay orientada a desarrolladores, emprendedores y entusiastas del área.
          </p>
          <p>
            El objetivo de la conferencia es acercar a la comunidad Mobile del Uruguay, brindando tanto la posibilidad de participar en charlas y talleres sobre las últimas tendencias en tecnologías Mobile como de estar en contacto con empresas líderes del área en la región.
          </p>
          <p>
            <address>
              Se realizará el sábado
              <b class='u-color--primary'>12 de noviembre</b>
              en el
              <br>
              <a href="#venue">Auditorio de la Torre de las Telecomunicaciones</a>
              <br>
              <small>Guatemala 1075 esq. Paraguay</small>
            </address>
          </p>
          <p>
            ¡Te esperamos con comida, drink up y la mejor buena onda!
          </p>
          <img src="ic-symbol.png" alt="Decorative image" class="c-ic-symbol">
      </div>
    </div>
  </div>
</div>
