<div id="cfs" class='c-cfs'>
  <div class='o-wrapper'>
    <div class="u-2-of-3-small u-margin--auto">
      <div class='o-pack o-pack o-pack--middle'>
        <div class='o-pack__item u-1-of-2 u-text-align--right'>
          <h2>
            <span class='u-font-weight--300'>Llamado a</span>
            <br/>
            <span class='u-font-weight--800'>oradores</span>
          </h2>
        </div>
        <div class='o-pack__item u-1-of-2 u-text-align--center' >
          <a href="call-for-speakers.html" class="c-btn c-btn--secondary">Postular</a>
        </div>
      </div>
    </div>
  </div>
</div>
