<div class='c-cfs'>
  <div class='o-wrapper'>
    <ul class="o-layout o-layout--flush u-2-of-3-small u-margin--auto">
      <li class='o-layout__item u-1-of-3'>
        <span class="c-cfs__number">300+</span>
        <span class="c-cfs__text">participantes</span>
      </li><li class='o-layout__item u-1-of-3'>
        <span class="c-cfs__number">7</span>
        <span class="c-cfs__text">charlas</span>
      </li><li class='o-layout__item u-1-of-3'>
        <span class="c-cfs__number">3</span>
        <span class="c-cfs__text">talleres</span>
      </li>
    </ul>
  </div>
</div>
