<div id="counter" class='c-counter'>
    <div class="o-wrapper">
        <h3 class="u-text-align--center">Faltan...</h3>
        <ul class="o-layout o-layout--flush u-1-of-2-small u-margin--auto">
            <li class="o-layout__item u-1-of-4">
              <span class="c-counter__number" id="days">00</span>
              <span class="c-counter__unit">Días</span>
            </li>
            <li class="o-layout__item u-1-of-4">
              <span class="c-counter__number" id="hours">00</span>
              <span class="c-counter__unit">Horas</span>
            </li>
            <li class="o-layout__item u-1-of-4">
              <span class="c-counter__number" id="mins">00</span>
              <span class="c-counter__unit">Minutos</span>
            </li>
            <li class="o-layout__item u-1-of-4">
              <span class="c-counter__number" id="secs">00</span>
              <span class="c-counter__unit">Segundos</span>
            </li>
        </ul>
    </div>
</div>
