<section id="counter" class='o-section'>
    <div class="o-wrapper">
        <ul class="o-layout">
            <li class="o-layout__item counter-item u-1-of-2 u-1-of-4-small">
                <div class="o-box">
                    <h1 id="days">00</h1>
                    <h6>Días</h6>
                </div>
            </li>
            <li class="o-layout__item counter-item u-1-of-2 u-1-of-4-small">
                <div class="o-box">
                    <h1 id="hours">00</h1>
                    <h6>Horas</h6>
                </div>
            </li>
            <li class="o-layout__item counter-item u-1-of-2 u-1-of-4-small">
                <div class="o-box">
                    <h1 id="mins">00</h1>
                    <h6>Minutos</h6>
                </div>
            </li>
            <li class="o-layout__item counter-item u-1-of-2 u-1-of-4-small">
                <div class="o-box">
                    <h1 id="secs">00</h1>
                    <h6>Segundos</h6>
                </div>
            </li>
        </ul>
    </div>
</section>
