<div id="home" class='u-height--100'>
    <canvas class="c-particles"></canvas>
    <div class='c-hero'>
        <div class='u-height--100'>
            <div class="o-box">
                <div class="o-box__stuff u-text-align--left">
                    <h1 class="u-line-height--100">
                      Mobile day
                      <br>
                      <span class='u-color--primary'>12 de Noviembre</span>
                    </h1>
                    <h4 class='u-text-align--right'>Auditorio de Antel</h4>
                </div>
            </div>
        </div>
        <a class="c-hero__arrow" href="#about">
          <svg viewBox="0 0 32 32">
            <use xlink:href="#down-arrow"></use>
          </svg>
        </a>
    </div>
</div>
