<section id="home" class='o-section'>
    <canvas class="c-particles"></canvas>
    <div class='u-hero'>
        <div class='o-hero-wrapper'>
            <div class="o-box">
                <div class="o-box__stuff">
                    <h1 class='first-line'>Mobile day</h1>
                    <h1 class='second-line'>12 de Noviembre</h1>
                    <h4 class='third-line'>Auditorio de Antel</h4>
                </div>
            </div>
        </div>
    </div>
    <a class="explore" href="#about">
        <svg viewBox="0 0 32 32">
            <use xlink:href="#down-arrow"></use>
        </svg>
    </a>
</section>
