<div id="register" class="c-tickets">
    <div class="o-wrapper u-2-of-3-small">
        <h2 class="c-tickets__title">¡Ya puedes registrarte!</h2>
        <iframe src="http://www.eventbrite.com/tickets-external?eid=26958281947&ref=etckt"
                class="c-tickets__form"
                frameborder="0" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="no" allowtransparency="true">
        </iframe>
    </div>
</div>
