<div id="schedule" class="u-pv++ u-bg--primary-dark u-color--white">
  <div class='o-wrapper'>
    <h2 class='u-color--primary u-font-weight--300 u-mb++ u-text-align--center'>Cronograma</h2>
    <table class="c-schedule-table">
      <thead>
        <tr>
          <th class="u-1-of-9">
          </th>
          <th class="u-3-of-9">
            CHARLAS (Sala Mario Benedetti)
          </th>
          <th class="u-3-of-9">
            TALLERES (Sala Vilariño)
          </th>
          <th class="u-1-of-9">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="u-text-align--center">
            <b>9:00</b>
          </td>
          <td colspan="2" class='u-bg--secondary-x-light'>
            <h6>Acreditaciones</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>9:30</b>
          </td>
          <td>
            <a href="sessions.html#1">Charla 1</a>
          </td>
          <td rowspan="2" class='u-bg--primary-light' >
            <h6>Taller 1</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>10:15</b>
          </td>
          <td>
            <a href="sessions.html#2">Charla 2</a>
          </td>
        </tr>

        <tr>
          <td>
            <b>11:00</b>
          </td>
          <td colspan="2" class='u-bg--secondary-x-light'>
            <h6>Coffee break</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>11:30</b>
          </td>
          <td>
            <a href="sessions.html#3">Charla 3</a>
          </td>
          <td rowspan="2" class='u-bg--primary-light'>
            <h6>Taller 2</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>12:15</b>
          </td>
          <td>
            <a href="sessions.html#4">Charla 4</a>
          </td>
        </tr>

        <tr>
          <td>
            <b>13:00</b>
          </td>
          <td rowspan="2" colspan="2" class='u-bg--secondary-x-light'>
            <h6>Almuerzo</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>13:45</b>
          </td>
        </tr>

        <tr>
          <td>
            <b>14:30</b>
          </td>
          <td>
            <a href="sessions.html#5">Charla 5</a>
          </td>
          <td rowspan="2" class='u-bg--primary-light'>
            <h6>Taller 3</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>15:15</b>
          </td>
          <td>
            <a href="sessions.html#6">Charla 6</a>
          </td>
        </tr>

        <tr>
          <td>
            <b>16:00</b>
          </td>
          <td colspan="2" class='u-bg--secondary-x-light'>
            <h6>Coffee break</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>16:30</b>
          </td>
          <td>
            <a href="sessions.html#7">Charla 7</a>
          </td>
        </tr>

        <tr>
          <td>
            <b>17:15</b>
          </td>
          <td>
            <a href="sessions.html#8">Charla 8</a>
          </td>
        </tr>

        <tr>
          <td>
            <b>18:00</b>
          </td>
          <td>
            <h6>Cierre</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>18:15</b>
          </td>
          <td colspan="2" class='u-bg--secondary-x-light'>
            <h6>Drinkup</h6>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
