<div id="schedule" class="u-pv++ u-bg--primary-dark u-color--white">
  <div class='o-wrapper'>

    <h2 class='u-color--primary u-font-weight--300 u-mb++ u-text-align--center'>Cronograma</h2>

    <table class="c-schedule-table">
      <thead>
        <tr>
          <th class="u-1-of-5">
          </th>
          <th class="u-2-of-5">
            Sala Benedetti (Track de Charlas)
          </th>
          <th class="u-2-of-5">
            Sala Benedetti (Track de Charlas)
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="u-text-align--right">
            <b>9:00</b>
          </td>
          <td colspan="2" class='u-bg--secondary'>
            <h6>Acreditación</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>9:30</b>
          </td>
          <td>
            <h6>Charla 1</h6>
          </td>
          <td rowspan="2" class='u-bg--primary-light' >
            <h6>Taller 1</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>10:15</b>
          </td>
          <td>
            <h6>Charla 2</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>11:00</b>
          </td>
          <td colspan="2" class='u-bg--secondary-x-light'>
            <h6>Coffee break</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>11:45</b>
          </td>
          <td>
            <h6>Charla 3</h6>
          </td>
          <td rowspan="2" class='u-bg--primary-light'>
            <h6>Taller 2</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>12:30</b>
          </td>
          <td>
            <h6>Charla 4</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>13:15</b>
          </td>
           <td rowspan="2" colspan="2" class='u-bg--secondary-x-light'>
            <h6>Almuerzo</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>14:00</b>
          </td>
        </tr>

        <tr>
          <td>
            <b>14:45</b>
          </td>
          <td>
            <h6>Charla 5</h6>
          </td>
          <td rowspan="2" class='u-bg--primary-light'>
            <h6>Taller 3</h6>
          </td>
        </tr>

            <tr>
          <td>
            <b>15:30</b>
          </td>
          <td>
            <h6>Charla 6</h6>
          </td>
        </tr>

            <tr>
          <td>
            <b>16:15</b>
          </td>
          <td colspan="2" class='u-bg--secondary-x-light'>
            <h6>Coffee break</h6>
          </td>
        </tr>

            <tr>
          <td>
            <b>16:45</b>
          </td>
          <td >
            <h6>KEY NOTE</h6>
          </td>
        </tr>

            <tr>
          <td>
            <b>17:45</b>
          </td>
          <td >
            <h6>CIERRE</h6>
          </td>
        </tr>

            <tr>
          <td>
            <b>18:15</b>
          </td>
          <td colspan="2" class='u-bg--secondary'>
            <h6>DRINK UP</h6>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
