<div class="u-pv++ u-bg--primary-dark u-color--white">
  <div class='o-wrapper'>

    <h2 class='u-color--primary u-font-weight--300 u-mb++ u-text-align--center' id="schedule" >Cronograma</h2>

    <table class="c-schedule-table ">
      <thead>
        <tr>
          <th class="u-1-of-5">
          </th>
          <th class="u-2-of-5">
            Sala Benedetti (Track de Charlas)
          </th>
          <th class="u-2-of-5">
            Sala Benedetti (Track de Charlas)
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="u-text-align--right">
            <b>9:00</b>
          </td>
          <td>
            <h6>Acreditación</h6>
          </td>
          <td>
          </td>
        </tr>

        <tr>
          <td>
            <b>9:30</b>
          </td>
          <td>
            <h6>Charla 1</h6>
          </td>
          <td rowspan="2">
            <h6>Taller 1</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>10:15</b>
          </td>
          <td>
            <h6>Charla 2</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>11:00</b>
          </td>
          <td colspan="2">
            <h6>Coffee break</h6>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>

<div class="u-pv++ u-bg--secondary u-color--white">
  <div class='o-wrapper'>
    <h2 class='u-color--primary u-text-align--center u-font-weight--300 u-mb++' id="speakers">Speakers</h2>
    <ul class='o-layout o-layout--center u-mb'>
      <li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <img src="http://placehold.it/200x200" alt="">
        <h6 class='u-mv--'>Nombre Apellido</h6>
        <p>Bio</p>
      </li>
      <li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <img src="http://placehold.it/200x200" alt="">
        <h6 class='u-mv--'>Nombre Apellido</h6>
        <p>Bio</p>
      </li>
      <li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <img src="http://placehold.it/200x200" alt="">
        <h6 class='u-mv--'>Nombre Apellido</h6>
        <p>Bio</p>
      </li>
      <li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <img src="http://placehold.it/200x200" alt="">
        <h6 class='u-mv--'>Nombre Apellido</h6>
        <p>Bio</p>
      </li>
    </ul>

  </div>
</div>

<div class="u-pv++">
  <div class='o-wrapper u-text-align--center'>
    <h2 class='u-color--primary u-font-weight--300'id="speakers">Stuff</h2>
    <ul class='o-layout o-layout--center u-text-align--center u-mb'>
      <li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://genexus.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <!-- <img src="logos/genexus.png" alt="Genexus" height="100px"/> -->
        </a>
      </li>
    </ul>


  </div>
</div>
