<div class="u-pv++ u-bg--primary-dark u-color--white">
  <div class='o-wrapper u-text-align--center'>

    <h2 class='u-color--primary u-font-weight--300 u-mb++' id="schedule" >Cronograma</h2>
    <ul class='list-bare'>
      <li class='u-mb++'>
        <h6>
          <b class="u-bg--primary u-color--white u-p--">8:30 - 9:25</b>
          Registration & Breakfast
        </h6>
        <p>Get your badge and swag bag, grab some coffee and a seat, and get ready for the show to start!</p>
      </li>

      <li class='u-mb++'>
        <h6>
          <b class="u-bg--primary u-color--white u-p--">8:30 - 9:25</b>
          Registration & Breakfast
        </h6>
        <p>Get your badge and swag bag, grab some coffee and a seat, and get ready for the show to start!</p>
      </li>

      <li class='u-mb++'>
        <h6>
          <b class="u-bg--primary u-color--white u-p--">8:30 - 9:25</b>
          Registration & Breakfast
        </h6>
        <p>Get your badge and swag bag, grab some coffee and a seat, and get ready for the show to start!</p>
      </li>

      <li class='u-mb++'>
        <h6>
          <b class="u-bg--primary u-color--white u-p--">8:30 - 9:25</b>
          Registration & Breakfast
        </h6>
        <p>Get your badge and swag bag, grab some coffee and a seat, and get ready for the show to start!</p>
      </li>


    </ul>
  </div>
</div>

<div class="u-pv++ u-bg--secondary u-color--white">
  <div class='o-wrapper'>
    <h2 class='u-color--primary u-text-align--center u-font-weight--300 u-mb++' id="speakers">Speakers</h2>
    <ul class='o-layout o-layout--center u-mb'>
      <li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <img src="http://placehold.it/200x200" alt="">
        <h6 class='u-mv--'>Nombre Apellido</h6>
        <p>Bio</p>
      </li>
      <li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <img src="http://placehold.it/200x200" alt="">
        <h6 class='u-mv--'>Nombre Apellido</h6>
        <p>Bio</p>
      </li>
      <li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <img src="http://placehold.it/200x200" alt="">
        <h6 class='u-mv--'>Nombre Apellido</h6>
        <p>Bio</p>
      </li>
      <li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <img src="http://placehold.it/200x200" alt="">
        <h6 class='u-mv--'>Nombre Apellido</h6>
        <p>Bio</p>
      </li>
    </ul>

  </div>
</div>

<div class="u-pv++">
  <div class='o-wrapper u-text-align--center'>
    <h2 class='u-color--primary u-font-weight--300'id="speakers">Stuff</h2>
    <ul class='o-layout o-layout--center u-text-align--center u-mb'>
      <li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://genexus.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <!-- <img src="logos/genexus.png" alt="Genexus" height="100px"/> -->
        </a>
      </li>
    </ul>


  </div>
</div>
