<section id="sponsors" class='o-section o-box'>
  <div class='o-wrapper u-mt++'>
    <h1 class='o-section__title'>Sponsors</h1>

    <div class='c-sponsors u-mv++'>
      <h2 class='c-sponsors__type'>Gold</h2>
      <ul class='o-layout'>
        <li class='o-layout__item u-1-of-1 u-1-of-3-start u-1-of-5-small'>
          <a href="http://genexus.com" target="_blank">
            <img class="sponsor-gold u-mv+" src="logos/genexus.png" alt="Genexus"/>
          </a>
        </li>
        <li class='o-layout__item u-1-of-1 u-1-of-3-start u-1-of-5-small'>
          <a href="http://codigodelsur.com" target="_blank">
            <img class="sponsor-gold u-mv+" src="logos/codigo_del_sur.png" alt="Código del Sur"/>
          </a>
        </li>
        <li class='o-layout__item u-1-of-1 u-1-of-3-start u-1-of-5-small'>
          <a href="https://moove-it.com" target="_blank">
            <img class="sponsor-gold u-mv+" src="logos/moove-it.png" alt="Moove-it"/>
          </a>
        </li>
        <li class='o-layout__item u-1-of-1 u-1-of-3-start u-1-of-5-small'>
          <a href="http://mercadolibre.com" target="_blank">
            <img class="sponsor-gold u-mv+" src="logos/mercado_libre.png" alt="Mercado Libre"/>
          </a>
        </li>
        <li class='o-layout__item u-1-of-1 u-1-of-3-start u-1-of-5-small'>
          <a href="#url-marca" target="_blank">
            <img class="sponsor-gold u-mv+" alt="Sponsor GOLD"/>
          </a>
        </li>
      </ul>
    </div>

    <div class='c-sponsors u-mv++'>
      <h2 class='c-sponsors__type'>Silver</h2>
      <ul class='o-layout'>
        <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
          <a href="#url-marca" target="_blank">
            <img class="sponsor-silver u-mv+" src="logos/genexus.png" alt='Sponsor SILVER'/>
          </a>
        </li>
        <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
          <a href="#url-marca" target="_blank">
            <img class="sponsor-silver u-mv+" src="logos/codigo_del_sur.png" alt='Sponsor SILVER'/>
          </a>
        </li>
        <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
          <a href="#url-marca" target="_blank">
            <img class="sponsor-silver u-mv+" src="logos/moove-it.png" alt='Sponsor SILVER'/>
          </a>
        </li>
        <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
          <a href="#url-marca" target="_blank">
            <img class="sponsor-silver u-mv+" src="logos/mercado_libre.png" alt='Sponsor SILVER'/>
          </a>
        </li>
        <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
          <a href="#url-marca" target="_blank">
            <img class="sponsor-silver u-mv+" alt='Sponsor SILVER'/>
          </a>
        </li>
        <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
          <a href="#url-marca" target="_blank">
            <img class="sponsor-silver u-mv+" alt='Sponsor SILVER'/>
          </a>
        </li>
        <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
          <a href="#url-marca" target="_blank">
            <img class="sponsor-silver u-mv+" alt='Sponsor SILVER'/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>