<div id="sponsors" class='u-mv+'>
  <div class='o-wrapper u-text-align--center'>
    <h1 class='u-color--primary u-font-weight--300 u-mb++'>Sponsors</h1>

    <h4>Gold</h4>
    <ul class='o-layout o-layout--center u-text-align--center u-mb'>
      <li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://genexus.com" target="_blank" class='u-display--block u-text-align--center'>
          <img src="logos/genexus.png" alt="Genexus" height="80px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://codigodelsur.com" target="_blank" class='u-display--block u-text-align--center'>
          <img src="logos/codigo_del_sur.png" alt="Código del Sur" height="80px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="https://moove-it.com" target="_blank" class='u-display--block u-text-align--center'>
          <img src="logos/moove-it.png" alt="Moove-it" height="80px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://mercadolibre.com" target="_blank" class='u-display--block u-text-align--center'>
          <img src="logos/mercado_libre.png" alt="Mercado Libre" height="80px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://tarmac.io" target="_blank" class='u-display--block u-text-align--center'>
          <img src="logos/tarmac.png" alt="Tarmac" height="80px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://bluetrailsoft.com" target="_blank" class='u-display--block u-text-align--center'>
          <img src="logos/blue_trail.png" alt="Blue Trail Software" height="80px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://tryolabs.com" target="_blank" class='u-display--block u-text-align--center'>
          <img src="logos/tryolabs.png" alt="Tryolabs" height="80px"/>
        </a>
      </li>
    </ul>
    <h5 class='u-mt++ u-display--none'>Silver</h5>
    <ul class='o-layout u-m0 u-p0 u-display--none'>
      <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="#url-marca" target="_blank">
          <img src="logos/genexus.png" alt='Sponsor SILVER' height="80px"/>
        </a>
      </li>
      <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="#url-marca" target="_blank">
          <img src="logos/codigo_del_sur.png" alt='Sponsor SILVER' height="80px"/>
        </a>
      </li>
      <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="#url-marca" target="_blank">
          <img src="logos/moove-it.png" alt='Sponsor SILVER' height="80px"/>
        </a>
      </li>
      <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="#url-marca" target="_blank">
          <img src="logos/mercado_libre.png" alt='Sponsor SILVER' height="80px"/>
        </a>
      </li>
      <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="#url-marca" target="_blank">
          <img alt='Sponsor SILVER' height="80px"/>
        </a>
      </li>
      <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="#url-marca" target="_blank">
          <img alt='Sponsor SILVER' height="80px"/>
        </a>
      </li>
      <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="#url-marca" target="_blank">
          <img alt='Sponsor SILVER' height="80px"/>
        </a>
      </li>
    </ul>

    <a href="sponsors.pdf" class="c-btn c-btn--secondary u-mt++ u-text-align--center" target="_blank">¿Quieres ser sponsor?</a>

  </div>
</div>
