<div id="sponsors" class="u-pv++">
  <div class='o-wrapper u-text-align--center'>
    <h1 class='u-color--primary u-font-weight--300'>Sponsors</h1>
    <ul class='o-layout o-layout--center o-layout--middle u-text-align--center'>
      <li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://genexus.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/genexus.png" alt="Genexus" height="120px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://codigodelsur.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/codigo_del_sur.png" alt="Código del Sur" height="120px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="https://moove-it.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/moove-it.png" alt="Moove-it" height="120px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://mercadolibre.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/mercado_libre.png" alt="Mercado Libre" height="120px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://tarmac.io" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/tarmac.png" alt="Tarmac" height="120px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://bluetrailsoft.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/blue_trail_software.png" alt="Blue Trail Software" height="120px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://tryolabs.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/tryolabs.png" alt="Tryolabs" height="120px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://toptierlabs.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/toptierlabs.png" alt="Toptier Labs" height="120px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://genexusconsulting.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/genexus_consulting.png" alt="GeneXus Consulting" height="120px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://xmartlabs.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/xmartlabs.png" alt="Xmartlabs" height="120px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://decemberlabs.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/december_labs.png" alt="December Labs" height="120px"/>
        </a>
      </li><li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
        <a href="http://wyeworks.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/wyeworks.png" alt="WyeWorks" height="120px"/>
        </a>
      </li>
    </ul>

    <ul class='o-layout o-layout--center o-layout--middle u-text-align--center u-mt++'>
      <li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="http://tech.meetup.uy" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/techmeetup.png" alt='TechMeetup' height="70px"/>
        </a>
      </li><li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="http://infragistics.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/infragistics.png" alt='Infragistics' height="70px"/>
        </a>
      </li><li class='o-layout__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="http://inmind.com.uy" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/inmind.png" alt='InMind' height="70px"/>
        </a>
      </li>
    </ul>

    <a href="sponsors.pdf"
       class="c-btn c-btn--secondary u-mv++ u-text-align--center"
       target="_blank"
       onclick="ga('send', 'event', 'Downloads', 'PDF', '/sponsors.pdf');">
      ¿Quieres ser sponsor?
    </a>

    <h1 class='u-color--primary u-font-weight--300 u-mt++'>Apoyan</h1>
    <ul class='o-layout o-layout--center u-text-align--center u-mb'>
      <li class='o-layout__item u-1-of-2 u-1-of-6-start u-1-of-7-small u-mt+'>
        <a href="http://anii.org.uy" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/anii.png" alt="Agencia Nacional de Investigación e Innovación" height="50px"/>
        </a>
      </li><li class='o-layout__item u-1-of-2 u-1-of-6-start u-1-of-7-small u-mt+'>
        <a href="http://coworklatam.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/cowork_latam.png" alt="Co-Work Latam" height="50px"/>
        </a>
      </li><li class='o-layout__item u-1-of-2 u-1-of-6-start u-1-of-7-small u-mt+'>
        <a href="http://cuti.org.uy" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/cuti.png" alt="Cámara Uruguaya de Tecnologías de la Información" height="50px"/>
        </a>
      </li><li class='o-layout__item u-1-of-2 u-1-of-6-start u-1-of-7-small u-mt+'>
        <a href="http://fondationforge.org" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/forge.png" alt="Fundación Forge" height="50px"/>
        </a>
      </li><li class='o-layout__item u-1-of-2 u-1-of-6-start u-1-of-7-small u-mt+'>
        <a href="http://gdg.uy/" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/gdg_montevideo.png" alt="GDG Montevideo" height="50px"/>
        </a>
      </li><li class='o-layout__item u-1-of-2 u-1-of-6-start u-1-of-7-small u-mt+'>
        <a href="http://uruguay.girlsintech.org" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/girls_in_tech.png" alt="Girls in Tech" height="50px"/>
        </a>
      </li><li class='o-layout__item u-1-of-2 u-1-of-6-start u-1-of-7-small u-mt+'>
        <a href="http://ort.edu.uy" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/ort.png" alt="Universidad ORT" height="50px"/>
        </a>
      </li><li class='o-layout__item u-1-of-2 u-1-of-6-start u-1-of-7-small u-mt+'>
        <a href="http://sinergiacowork.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/sinergia_cowork.png" alt="Sinergia Cowork" height="50px"/>
        </a>
      </li><li class='o-layout__item u-1-of-2 u-1-of-6-start u-1-of-7-small u-mt+'>
        <a href="http://smarttalent.uy" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/smart_talent.png" alt="Smart Talent" height="50px"/>
        </a>
      </li><li class='o-layout__item u-1-of-2 u-1-of-6-start u-1-of-7-small u-mt+'>
        <a href="http://testing.uy" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/testinguy.png" alt="TestingUy" height="50px"/>
        </a>
      </li><li class='o-layout__item u-1-of-2 u-1-of-6-start u-1-of-7-small u-mt+'>
        <a href="http://uruguayit.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
          <img src="logos/uruguayit.png" alt="UruguayIT" height="50px"/>
        </a>
      </li>
    </ul>

    <p class="u-mt++">Evento <a href="mec.pdf">declarado de interés</a> por el Ministerio de Educación y Cultura.</p>
  </div>
</div>
