<div id="sponsors" class='u-mv++ u-pb++'>
  <div class='o-wrapper u-text-align--center'>
    <h3 class='u-color--primary u-font-weight--300 u-mb++'>Sponsors</h3>
    <h4>Gold</h4>

    <ul class='o-pack o-pack--middle u-m0 u-p0'>
      <li class='o-pack__item u-1-of-1 u-1-of-3-start u-1-of-5-small'>
        <a href="http://genexus.com" target="_blank">
          <img src="logos/genexus.png" alt="Genexus" height="40px"/>
        </a>
      </li>
      <li class='o-pack__item u-1-of-1 u-1-of-3-start u-1-of-5-small'>
        <a href="http://codigodelsur.com" target="_blank">
          <img src="logos/codigo_del_sur.png" alt="Código del Sur" height="40px"/>
        </a>
      </li>
      <li class='o-pack__item u-1-of-1 u-1-of-3-start u-1-of-5-small'>
        <a href="https://moove-it.com" target="_blank">
          <img src="logos/moove-it.png" alt="Moove-it" height="40px"/>
        </a>
      </li>
      <li class='o-pack__item u-1-of-1 u-1-of-3-start u-1-of-5-small'>
        <a href="http://mercadolibre.com" target="_blank">
          <img src="logos/mercado_libre.png" alt="Mercado Libre" height="40px"/>
        </a>
      </li>
      <li class='o-pack__item u-1-of-1 u-1-of-3-start u-1-of-5-small'>
        <a href="#url-marca" target="_blank">
          <img alt="Sponsor GOLD" height="40px"/>
        </a>
      </li>
    </ul>
    <h5 class='u-mt++ u-display--none'>Silver</h5>
    <ul class='o-pack o-pack--middle u-m0 u-p0 u-display--none'>
      <li class='o-pack__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="#url-marca" target="_blank">
          <img src="logos/genexus.png" alt='Sponsor SILVER' height="40px"/>
        </a>
      </li>
      <li class='o-pack__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="#url-marca" target="_blank">
          <img src="logos/codigo_del_sur.png" alt='Sponsor SILVER' height="40px"/>
        </a>
      </li>
      <li class='o-pack__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="#url-marca" target="_blank">
          <img src="logos/moove-it.png" alt='Sponsor SILVER' height="40px"/>
        </a>
      </li>
      <li class='o-pack__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="#url-marca" target="_blank">
          <img src="logos/mercado_libre.png" alt='Sponsor SILVER' height="40px"/>
        </a>
      </li>
      <li class='o-pack__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="#url-marca" target="_blank">
          <img alt='Sponsor SILVER' height="40px"/>
        </a>
      </li>
      <li class='o-pack__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="#url-marca" target="_blank">
          <img alt='Sponsor SILVER' height="40px"/>
        </a>
      </li>
      <li class='o-pack__item u-1-of-2 u-1-of-5-start u-1-of-7-small'>
        <a href="#url-marca" target="_blank">
          <img alt='Sponsor SILVER' height="40px"/>
        </a>
      </li>
    </ul>

    <a href="sponsors.pdf" class="c-btn c-btn--primary u-mt++ u-text-align--center" target="_blank">¿Quieres ser sponsor?</a>

  </div>
</div>
