<section id="sponsors" class='o-section o-box'>
  <div class='o-wrapper u-mt++'>

    <h1 class='o-section__title'>Sponsors</h1>

    <div class='c-sponsors u-mv++'>
      <h2 class='c-sponsors__type'>Gold</h2>

      <div class='o-layout'>

      <!-- Duplicate for add sponsors of the this types-->
        <div class='o-layout__item u-1-of-5'>
          <a href="#url-marca" target="_blank">
            <img src="logo.png" alt='logo de algo'/>
          </a>
        </div>
      <!-- End -->
      <!-- Duplicate for add sponsors of the this types-->
        <div class='o-layout__item u-1-of-5'>
          <a href="#url-marca" target="_blank">
            <img src="logo.png" alt='logo de algo'/>
          </a>
        </div>
      <!-- End -->
      <!-- Duplicate for add sponsors of the this types-->
        <div class='o-layout__item u-1-of-5'>
          <a href="#url-marca" target="_blank">
            <img src="logo.png" alt='logo de algo'/>
          </a>
        </div>
      <!-- End -->
      <!-- Duplicate for add sponsors of the this types-->
        <div class='o-layout__item u-1-of-5'>
          <a href="#url-marca" target="_blank">
            <img src="logo.png" alt='logo de algo'/>
          </a>
        </div>
      <!-- End -->
      <!-- Duplicate for add sponsors of the this types-->
        <div class='o-layout__item u-1-of-5'>
          <a href="#url-marca" target="_blank">
            <img src="logo.png" alt='logo de algo'/>
          </a>
        </div>
      <!-- End -->

      </div>
    </div>

    <div class='c-sponsors u-mv++'>
      <h2 class='c-sponsors__type'>Silver</h2>

      <div class='o-layout'>

      <!-- Duplicate for add sponsors of the this types-->
        <div class='o-layout__item u-1-of-5'>
          <a href="#url-marca" target="_blank">
            <img src="logo.png" alt='logo de algo'/>
          </a>
        </div>
      <!-- End -->

      <!-- Duplicate for add sponsors of the this types-->
        <div class='o-layout__item u-1-of-5'>
          <a href="#url-marca" target="_blank">
            <img src="logo.png" alt='logo de algo'/>
          </a>
        </div>
      <!-- End -->

      <!-- Duplicate for add sponsors of the this types-->
        <div class='o-layout__item u-1-of-5'>
          <a href="#url-marca" target="_blank">
            <img src="logo.png" alt='logo de algo'/>
          </a>
        </div>
      <!-- End -->

      <!-- Duplicate for add sponsors of the this types-->
        <div class='o-layout__item u-1-of-5'>
          <a href="#url-marca" target="_blank">
            <img src="logo.png" alt='logo de algo'/>
          </a>
        </div>
      <!-- End -->

      <!-- Duplicate for add sponsors of the this types-->
        <div class='o-layout__item u-1-of-5'>
          <a href="#url-marca" target="_blank">
            <img src="logo.png" alt='logo de algo'/>
          </a>
        </div>
      <!-- End -->

      </div>
    </div>

  <div>
</section>