<div id="subscribe-to-news">

  <h3  class="u-text-align--center u-color--primary u-font-weight--300 u-mb++">¡Suscríbete para recibir todas las novedades!</h3>
  <div class='o-wrapper u-1-of-2-small'>


    <div id="mc_embed_signup">
      <form action="https://tinyletter.com/mobiledayuy" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class='o-layout o-layout--centered'>
          <input type="hidden" value="1" name="embed"/>
          <div class="o-layout__item u-3-of-5-small u-mt--">
            <input id="tlemail" type="email" value="" name="email" class="u-p- u-1-of-1 u-height--40" placeholder="Correo electrónico" required>
          </div><div class="o-layout__item u-2-of-5-small u-mt--">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bec148d77ad8007e4ea3462a4_44cab1acc1" tabindex="-1" value=""></div>
            <input type="submit" value="Suscribirme" name="subscribe" id="mc-embedded-subscribe" class="c-btn c-btn--primary u-1-of-1">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
