<div id="subscribe-to-news" class="c-subscribe-to-news">
  <div class='o-wrapper'>

    <h3>Subscríbete para recibir las últimas noticias</h3>
    <!-- GUZ ALERT-->
    <!--Guz si querés remover esto sos bienvenido, está usando un estilo de mailchimp que quedó bien pero si se puede
    sacar mejor-->
    <!-- GUZ ALERT-->
    <link href="https://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
      <form action="https://tinyletter.com/mobiledayuy" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="hidden" value="1" name="embed"/>
          <input id="tlemail" type="email" value="" name="email" class="email" placeholder="correo electrónico" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bec148d77ad8007e4ea3462a4_44cab1acc1" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscríbete" name="subscribe" id="mc-embedded-subscribe" class="c-btn c-btn--primary"></div>
        </div>
      </form>
    </div>
  </div>
</div>
