<div id="summary" class="c-summary">
    <div class="o-wrapper u-2-of-3-small">
        <h1 class="c-summary__title">¡Reviví el evento!</h1>
        <div class="video-container o-box">
            <iframe src="https://www.youtube.com/embed/juGt3pw8ByA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <ul class='o-layout o-layout--center u-mt'>
            <li class='o-layout__item u-1-of-1 u-1-of-2-start u-mb'>
                <a href="https://www.facebook.com/mobiledayuy/photos/a.896563233813700.1073741830.829954207141270/896564370480253/?type=1&theater">
                    <img src="photos/auditorium.jpg">
                </a>
            </li>
            <li class='o-layout__item u-1-of-1 u-1-of-2-start u-mb'>
                <a href="https://www.facebook.com/mobiledayuy/photos/a.896563233813700.1073741830.829954207141270/896563820480308/?type=1&theater">
                    <img src="photos/workshops.jpg">
                </a>
            </li>
            <li class='o-layout__item u-1-of-1 u-1-of-2-start u-mb'>
                <a href="https://www.facebook.com/mobiledayuy/photos/a.896563233813700.1073741830.829954207141270/896563323813691/?type=1&theater">
                    <img src="photos/catering.jpg">
                </a>
            </li>
            <li class='o-layout__item u-1-of-1 u-1-of-2-start u-mb'>
                <a href="https://www.facebook.com/mobiledayuy/photos/a.896563233813700.1073741830.829954207141270/896568767146480/?type=1&theater">
                    <img src="photos/livedj.jpg">
                </a>
            </li>
        </ul>
        <ul class='o-layout u-text-align--center u-mb+'>
            <li class='o-layout__item u-1-of-1 u-1-of-3-start u-mt start-mt+'>
                <a class="c-btn c-btn--large c-btn--secondary u-1-of-1" href="https://www.facebook.com/pg/mobiledayuy/photos/?tab=album&album_id=896563233813700">Más fotos</a>
            </li>
            <li class='o-layout__item u-1-of-1 u-1-of-3-start u-mt start-mt+'>
                <a class="c-btn c-btn--large c-btn--secondary u-1-of-1" href="https://www.youtube.com/watch?v=dHMVL4J5O_w&list=PLdB99MeeHfRcDKuY1QhK621WnveU-liWc">Videos de charlas</a>
            </li>
            <li class='o-layout__item u-1-of-1 u-1-of-3-start u-mt start-mt+'>
                <a class="c-btn c-btn--large c-btn--secondary u-1-of-1" href="sessions.html">Slides y más</a>
            </li>
        </ul>
    </div>
</div>
