<div id="register" class="c-tickets">
    <div class="o-wrapper u-2-of-3-small">
        <h2 class="c-tickets__title">¡Reviví el evento!</h2>
        <div class="video-container o-box">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/juGt3pw8ByA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>