<div id="team" class="u-pv++">
    <div class='o-wrapper u-text-align--center'>
        <h2 class='u-color--primary u-font-weight--300'>Equipo</h2>
        <ul class='o-layout o-layout--center u-text-align--center u-mb'>
            <li class='o-layout__item u-1-of-1 u-1-of-2-start u-1-of-4-small'>
                <a href="http://genexus.com" target="_blank" rel="noopener" class='u-display--block u-text-align--center'>
                    <!-- <img src="logos/genexus.png" alt="Genexus" height="100px"/> -->
                </a>
            </li>
        </ul>
    </div>
</div>
