<section id="venue" class='o-section'>
    <div id='map'>
    </div>
    <div class="panel-subsection">
        <div class="venue-details">
            <h1>12 de Noviembre</h1>
            <h2>Auditorio de Antel</h2>
            <h3>Guatemala 1075</h3>
        </div>
    </div>
</section>