<div id="venue" class='c-venue'>
  <div class="c-venue__wrapper">
    <div class="o-layout o-layout--flush">
      <div class="o-layout__item u-1-of-1 u-1-of-2-small">
        <div class="c-venue-info">
          <h2 class="u-m0">
            <small class="u-color--primary">
              12 de Noviembre
            </small>
            <br>
            <span class="u-font-weight--300">Auditorio de Antel</span>
            <br>
            <small class="u-font-weight--300 u-font-size--13">Guatemala 1075</small>
          </h2>
        </div>
      </div>
      <div class="o-layout__item u-1-of-1 u-1-of-2-small">
      </div>
    </div>
  </div>
  <div id="map" class='c-venue__map'></div>
</div>
