<section id="venue" class='o-section'>
    <ul class="o-layout o-layout--flush u-height--100">
        <li class="o-layout__item u-height--100 u-1-of-1 u-1-of-2-small">
            <div class="venue-details">
                <h1>12 de Noviembre</h1>
                <h2>Auditorio de Antel</h2>
                <h3>Guatemala 1075</h3>
            </div>
        </li>
        <li class="o-layout__item u-height--100 u-1-of-1 u-1-of-2-small">
            <div id="map"></div>
        </li>
    </ul>
</section>
