#intro {

  & article {

    & h1 {
      color: $color-brand-primary;
      font-weight: 400;
      font-size: 4em;
    }

    & p {
      font-size: 1.3em;
      text-align: justify;

      @include media-query(start) {
        font-size: 1.4em;
      }

      & span {
        color: $color-brand-primary;
        font-weight: bold;
      }

      & a {
        font-weight: bold;
      }
    }
  }

  p.centered {
    text-align: center;
  }

  & h2, h3, h4 {
    text-align: left;
  }
}
