<div id="about" class='o-section u-height--100 u-position-relative'>
    <div class='u-about-title u-height--40 u-1-of-1'>
        <div class='o-wrapper u-height--100 u-pv++'>
            <div class="o-box">
                <div class="o-box__stuff">
                    <h1 class='u-color--white u-font-weight--800 u-text-transform--uppercase'>About</h1>
                </div>
            </div>
        </div>
    </div>
    <div class='u-about u-height--100 u-1-of-1'>
        <div class='o-wrapper u-height--60'>
            <div class="o-box">
                <div class="o-box__stuff">
                    <h5 class='u-color--black u-font-weight--300'>
                        <b class="u-color--orange">MobileDayUY</b> es la primera conferencia de tecnologías Mobile del Uruguay orientada a desarrolladores, emprendedores y entusiastas del área.
                    </h5>
                    <h5 class='u-color--black u-font-weight--300'>
                        El objetivo de la conferencia es acercar a la comunidad Mobile del Uruguay, brindando tanto la posibilidad de participar en charlas y talleres sobre las últimas tendencias en tecnologías Mobile como de estar en contacto con empresas líderes del área en la región.
                    </h5>
                    <h5 class='u-color--black u-font-weight--300'>
                        Se realizará el <b class="u-color--orange">Sábado 12 de noviembre</b> en el Auditorio de la Torre de las Telecomunicaciones (Guatemala 1075 esq. Paraguay).
                    </h5>
                    <h5 class='u-color--black u-font-weight--300'>
                        Te esperamos con comida, drink up y la mejor buena onda!
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>