<section id="about" class='o-section'>
    <div class='u-about-title'>
        <div class='o-wrapper'>
            <div class="o-box">
                <div class="o-box__stuff">
                    <h1>¿Qué es?</h1>
                </div>
            </div>
        </div>
    </div>
    <div class='u-about-content'>
        <div class='o-wrapper'>
            <div class="o-box">
                <div class="o-box__stuff">
                    <h5>
                        <b class="highlight-text">MobileDay</b> es la primera conferencia de tecnologías Mobile del
                        Uruguay orientada a desarrolladores, emprendedores y entusiastas del área.
                    </h5>
                    <h5>
                        El objetivo de la conferencia es acercar a la comunidad Mobile del Uruguay, brindando tanto la
                        posibilidad de participar en charlas y talleres sobre las últimas tendencias en tecnologías
                        Mobile como de estar en contacto con empresas líderes del área en la región.
                    </h5>
                    <h5>
                        Se realizará el sábado <b class="highlight-text">12 de noviembre</b> en el
                        <a href="#venue"><b>Auditorio de la Torre de las Telecomunicaciones</b></a>
                        (Guatemala 1075 esq. Paraguay).
                    </h5>
                    <h5>
                        ¡Te esperamos con comida, drink up y la mejor buena onda!
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>