<section id="cfs" class='o-section u-height--40'>
    <div class='u-cfs u-height--100 u-1-of-1'>
        <div class='o-wrapper u-height--100'>
            <div class="o-box u-1-of-2">
                <div class="o-box__stuff">
                    <h1 class='first-line'>Llamado a</h1>
                    <h1 class='second-line'>oradores</h1>
                </div>
            </div>
            <div class="o-box 1-of-2">
                <div class="o-box__stuff">
                    <h1 class='u-font-weight--800 u-text-align--right'>Go</h1>
                </div>
            </div>
        </div>
    </div>
</section>