<title><%= title %></title>
<link rel='stylesheet' href="<%- cssFileName %>"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#1E5799">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#1E5799">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">