<section class='o-section u-height--40'>
    <div class='u-counter u-height--100 u-1-of-1'>
        <div class='o-wrapper u-height--100'>
            <div id="countdown_timer" class="o-box">
                <div class="o-box__stuff">
                    <h1 id="days"></h1>
                    <h5>Días</h5>
                </div>
                <div class="o-box__stuff">
                    <h1 id="hours"></h1>
                    <h5>Horas</h5>
                </div>
                <div class="o-box__stuff">
                    <h1 id="mins"></h1>
                    <h5>Minutos</h5>
                </div>
                <div class="o-box__stuff">
                    <h1 id="secs"></h1>
                    <h5>Segundos</h5>
                </div>
            </div>
        </div>
    </div>
</section>