<section id="counter" class='o-section'>
    <div class="o-wrapper o-box">
        <div class="o-box__stuff u-1-of-4">
            <h1 id="days"></h1>
            <h5>Días</h5>
        </div>
        <div class="o-box__stuff u-1-of-4">
            <h1 id="hours"></h1>
            <h5>Horas</h5>
        </div>
        <div class="o-box__stuff u-1-of-4">
            <h1 id="mins"></h1>
            <h5>Minutos</h5>
        </div>
        <div class="o-box__stuff u-1-of-4">
            <h1 id="secs"></h1>
            <h5>Segundos</h5>
        </div>
    </div>
</section>