<footer class="c-footer">
  <a class="c-footer__logo" href="#home"></a>
  <a class="c-footer__link twitter" href="https://twitter.com/mobiledayuy" target="_blank">
    <svg viewBox="0 0 38 38">
      <use xlink:href="#twitter"></use>
    </svg>
  </a>
  <a class="c-footer__link facebook" href="https://facebook.com/mobiledayuy" target="_blank">
    <svg viewBox="0 0 38 38">
      <use xlink:href="#facebook"></use>
    </svg>
  </a>
  <a class="c-footer__link linkedin" href="https://www.linkedin.com/groups/8558623" target="_blank">
    <svg viewBox="0 0 38 38">
      <use xlink:href="#linkedin"></use>
    </svg>
  </a>
  <a class="c-footer__link youtube" href="https://youtube.com/mobiledayuy" target="_blank">
    <svg viewBox="0 0 38 38">
      <use xlink:href="#youtube"></use>
    </svg>
  </a>
  <a class="c-footer__link github" href="https://github.com/mobileuy" target="_blank">
    <svg viewBox="0 0 38 38">
      <use xlink:href="#github"></use>
    </svg>
  </a>
  <a class="c-footer__link meetup" href="https://www.meetup.com/MobileUY" target="_blank">
    <svg viewBox="0 0 38 38">
      <use xlink:href="#meetup"></use>
    </svg>
  </a>
  <a class="c-footer__link email" href="mailto:hello@mobileday.uy" target="_blank">
    <svg viewBox="0 0 38 38">
      <use xlink:href="#email"></use>
    </svg>
  </a>
</footer>
