<footer class="footer u-height--30 o-wrapper-no-margin u-1-of-1 u-u-pl0 o-box">
    <div class="u-height--100 u-position--absolute u-1-of-3 o-box__stuff">
        <a class="u-footer-logo u-position--relative u-is-centered--vertical u-left--0" href="index.html"></a>
    </div>

    <div class="u-height--100 u-1-of-3 o-box__stuff">
        <ul class="u-max-width--400">
            <li class="u-display--block">Otros links</li>
            <hr class="transparent-separator"/>
            <li class="u-display--block"><a href="#sponsors" class="site-nav__link  site-nav__speaking">Código de conducta</a></li>
            <li class="u-display--block"><a href="#venue" class="site-nav__link  site-nav__hire-me">Meetup Mobile</a></li>
        </ul>
    </div>

    <div class="u-height--100 u-1-of-3 o-box__stuff u-position--absolute u-u-pv">
        <div class="u-footer-right-graphic u-position--relative u-is-centered--vertical u-right--0"></div>
    </div>
</footer>