<header class="c-navbar">
  <a class="c-navbar__logo" href="index.html"></a>
  <nav class="c-menu">
    <button type="button" class="navbar-toggle collapsed" data-target=".c-menu__list, .home">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <% is_home = (typeof is_home === "undefined" ? false : is_home) %>
    <ul class="c-menu__list">
      <li class="c-menu__item"><a href="<%= is_home ? "#" : "index.html"%>" class="c-menu__link">Inicio</a></li>
      <li class="c-menu__item"><a href="call-for-proposals.html" class="c-menu__link">Llamado a propuestas</a></li>
      <li class="c-menu__item"><a href="code-of-conduct.html" class="c-menu__link">Código de conducta</a></li>
      <li class="c-menu__item"><a href="<%= is_home ? "" : "index.html"%>#sponsors" class="c-menu__link">Sponsors</a></li>
      <li class="c-menu__item"><a href="<%= is_home ? "" : "index.html"%>#venue" class="c-menu__link">Lugar</a></li>
    </ul>
  </nav>
</header>
