<header class="u-navbar u-1-of-1">
  <nav class="site-nav">
    <a class="u-navbar-logo" href="index.html"></a>
    <div>
      <button type="button" class="navbar-toggle collapsed" data-target=".site-nav__list, .home">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="site-nav__list">
        <li class="site-nav__item"><a href="#about" class="site-nav__link">¿Qué es?</a></li>
        <li class="site-nav__item"><a href="call-for-speakers.html" class="site-nav__link">Llamado a oradores</a></li>
        <li class="site-nav__item"><a href="#sponsors" class="site-nav__link">Sponsors</a></li>
        <li class="site-nav__item"><a href="#venue" class="site-nav__link">Lugar</a></li>
      </ul>
    </div>
  </nav>
</header>
