<div class='o-section u-height--100 u-position-relative'>
    <div class='c-particles'>
        <canvas class="canvas"></canvas>
    </div>
    <div class='u-home u-height--100 u-1-of-1'>
        <div class='o-wrapper u-height--100'>
            <div class="o-box">
                <div class="o-box__stuff">
                    <h1 class='u-color--white u-font-weight--800 u-text-transform--uppercase'>Mobile day</h1>
                    <h1 class='u-color--white u-font-weight--800'>Section 6</h1>
                </div>
            </div>
        </div>
    </div>
</div>