<section id="venue" class='o-section u-height--100' xmlns="http://www.w3.org/1999/html">
    <div class='u-map u-height--100 u-position--relative'>
        <div class="o-box u-1-of-1 u-height--60 u-position--absolute u-bottom--0">
            <div class="o-box__stuff u-contact-panel u-contact-details o-wrapper u-u-pv+">
                <h1 class='u-color--white u-font-weight--800 u-text-transform--uppercase u-text-align--center'>12 de Noviembre</h1>
                <br/>
                <h3 class='u-color--white u-font-weight--800 u-text-transform--uppercase u-text-align--center'>Auditorio de Antel</h3>
                <h5 class='u-color--white u-font-weight--400 u-text-transform--uppercase u-text-align--center'>Guatemala 1075</h5>
                <br/>
                <h4 class='u-color--white u-font-weight--400 u-text-align--center'>Contáctanos</h4>
                <a href="mailto:hello@mobileday.uy">
                    <h5 class='u-color--white u-font-weight--400 u-text-align--center'>hello@mobileday.uy</h5>
                </a>
            </div>
        </div>
    </div>
</section>