<section class='home o-section u-height--100'>
    <div class='c-particles'>
        <canvas class="canvas"></canvas>
    </div>
    <div class='u-hero u-height--100 u-1-of-1'>
        <div class='o-hero-wrapper u-height--100'>
            <div class="o-box">
                <div class="o-box__stuff">
                    <h1 class='u-color--white u-font-weight--800 u-text-transform--uppercase u-text-align--left'>Mobile day</h1>
                    <h1 class='u-color--orange u-font-weight--800 u-text-transform--uppercase u-text-align--left'>Noviembre 12, 2016</h1>
                    <h4 class='u-color--white u-font-weight--800 u-text-transform--uppercase u-text-align--right'>Auditorio de Antel</h4>
                </div>
            </div>
        </div>
    </div>
    <a class="u-down-arrow" href="#about"></a>
</section>
