<div class='o-section u-height--40 u-position-relative'>
    <div class='u-counter u-height--100 u-1-of-1'>
        <div class='o-wrapper u-height--100 u-pv++'>
            <div id="countdown_timer" class="o-box">
                <div class="o-box__stuff">
                    <h1 id="days" class='u-color--white u-font-weight--800 u-text-transform--uppercase'></h1>
                    <h5 class='u-color--white u-font-weight--400'>Days</h5>
                </div>
                <div class="o-box__stuff">
                    <h1 id="hours" class='u-color--white u-font-weight--800 u-text-transform--uppercase'></h1>
                    <h5 class='u-color--white u-font-weight--400'>Hours</h5>
                </div>
                <div class="o-box__stuff">
                    <h1 id="mins" class='u-color--white u-font-weight--800 u-text-transform--uppercase'></h1>
                    <h5 class='u-color--white u-font-weight--400'>Minutes</h5>
                </div>
                <div class="o-box__stuff">
                    <h1 id="secs" class='u-color--white u-font-weight--800 u-text-transform--uppercase'></h1>
                    <h5 class='u-color--white u-font-weight--400'>Seconds</h5>
                </div>
            </div>
        </div>
    </div>
</div>