<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/dist/mobileuy.css' />
  </head>
  <body>

    <div class='o-section u-height--100 u-position-relative'>
      <div class='c-particles'>
        <canvas class="canvas"></canvas>
      </div>
      <div class='u-home u-height--100 u-1-of-1'>
        <div class='o-wrapper u-height--100'>
          <div class="o-box">
            <div class="o-box__stuff">
                <h1 class='u-color--white u-font-weight--800 u-text-transform--uppercase'>Mobile day</h1>
                <h1 class='u-color--white u-font-weight--800'>Noviembre 12, 2016</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='o-section u-height--40 u-position-relative'>
      <div class='u-counter u-height--100 u-1-of-1'>
        <div class='o-wrapper u-height--100 u-pv++'>
          <div class="o-box">
            <div class="o-box__stuff">
              <h1 class='u-color--white u-font-weight--800 u-text-transform--uppercase'>Mobile day</h1>
              <h1 class='u-color--white u-font-weight--800'>Section 2</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='o-section u-height--100 u-position-relative'>
      <div class='c-particles'>
        <canvas class="canvas"></canvas>
      </div>
      <div class='u-home u-height--100 u-1-of-1'>
        <div class='o-wrapper u-height--100'>
          <div class="o-box">
            <div class="o-box__stuff">
              <h1 class='u-color--white u-font-weight--800 u-text-transform--uppercase'>Mobile day</h1>
              <h1 class='u-color--white u-font-weight--800'>Section 3</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='o-section u-height--40 u-position-relative'>
      <div class='u-counter u-height--100 u-1-of-1'>
        <div class='o-wrapper u-height--100 u-pv++'>
          <div class="o-box">
            <div class="o-box__stuff">
              <h1 class='u-color--white u-font-weight--800 u-text-transform--uppercase'>Mobile day</h1>
              <h1 class='u-color--white u-font-weight--800'>Section 4</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='o-section u-height--100 u-position-relative'>
      <div class='c-particles'>
        <canvas class="canvas"></canvas>
      </div>
      <div class='u-home u-height--100 u-1-of-1'>
        <div class='o-wrapper u-height--100'>
          <div class="o-box">
            <div class="o-box__stuff">
              <h1 class='u-color--white u-font-weight--800 u-text-transform--uppercase'>Mobile day</h1>
              <h1 class='u-color--white u-font-weight--800'>Section 5</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='o-section u-height--100 u-position-relative'>
      <div class='c-particles'>
        <canvas class="canvas"></canvas>
      </div>
      <div class='u-home u-height--100 u-1-of-1'>
        <div class='o-wrapper u-height--100'>
          <div class="o-box">
            <div class="o-box__stuff">
              <h1 class='u-color--white u-font-weight--800 u-text-transform--uppercase'>Mobile day</h1>
              <h1 class='u-color--white u-font-weight--800'>Section 6</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/dist/mobileuy.vendor.js"></script>
    <script type="text/javascript" src="/dist/mobileuy.app.js"></script>
  </body>
</html>
