<div class="u-height--20"></div>
<section id="intro" class='o-section o-wrapper'>
  <div class="o-box">
    <div class='o-box__stuff'>
      <article>
        <h1 class="u-mt+">LLamado a oradores</h1>

        <p class="lead u-mt+">
          <span>MobileDay</span> contiene un track de <span>8 charlas</span> y <span>4 workshops</span> de contenido
          asociado a la tecnología mobile a lo largo de un día de evento.
        </p>

        <p>Compartiremos una jornada junto a desarrolladores de todas las ramas del mobile y personas vinculadas a la tecnología.</p>

        <p>La fecha límite para enviar propuestas es el 10 Octubre a las 11:59pm UYT.</p>

        <p class="u-mt++ u-mb++ centered">
          <a class="submit-action" href="#form">
            Enviar una propuesta
          </a>
        </p>

        <h2 id="u-mt+ u-mb+ themes">Temas</h2>

        <p class="u-mt+">
          hablar sobre los tópicos lorem ipsum dolor sit amet asgardium
        </p>

        <ul>
          <li><strong>Tema1</strong>. Por qué posible tema 1</li>
          <li><strong>Tema2</strong>. Por qué posible tema 2</li>
        </ul>

        <h2 class="u-mt+" id="audience">Audiencia</h2>

        <p class="u-mt+">
          Contamos acerca de la audiencia que van a tener las charlas, lorem ipsum eso eso EOS
        </p>

        <h2 class="u-mt+" id="format">Formato</h2>

        <p class="u-mt+">
          Se informa acerca de la duración de la charla y objetivos
        </p>

        <h2 class="u-mt+" id="selection-process">Proceso de selección</h2>

        <p class="u-mt+">
          Como vamos a hacer el proceso de selección y cuando van a ser notificados
          los oradores que fueron seleccionados y otros detalles
        </p>

        <h2 class="u-mt+" id="honorarium-and-compensation">Que cosas les facilitamos</h2>

        <p class="u-mt+">
          que cosas les vamos a proveer como speakers, posible ayuda en estadía (asesoramiento)
          y que estamos abiertos a comunicación, infraestructura, etc
        </p>

        <p>
          Presentar el código de conducta
          <a href="code-of-conduct.html">Código de conducta</a>, introducir al completado del formulario de proposal
          y explicación de como debe ser completado y repetir el deadline
        </p>
      </article>
    </div>
  </div>
</section>