<section class="c-cfp">
  <div class="o-wrapper">
      <article>
        <h1 class="c-cfp__title">Llamado a propuestas</h1>

        <p>Cada uno de nosotros, que por diversas razones vibramos por las tecnologías mobile y nos entusiasma aprender más, somos parte de una misma comunidad: la comunidad mobile.</p>
        <p>Por esto, queremos invitarlos a que envíen sus propuestas, de forma que entre todos hagamos de este evento una oportunidad única para compartir conocimiento, aprender y divertirse.</p>


        <h2 class="c-cfp__subtitle">Fecha límite</h2>
        <p>El plazo límite para enviar propuestas es el <b>lunes 3 de octubre a las 11:59 PM UYT.</b></p>

        <h2 class="c-cfp__subtitle">Formato</h2>
        <p>El evento cuenta con dos tracks en simultáneo, uno de charlas y otro de talleres.</p>
        <ul>
          <li>Las <b>charlas</b> tendrán una duración de <b>40 minutos</b>. Dentro de este tiempo, el orador podrá contar con un espacio para preguntas si lo desea.</li>
          <li>Los <b>talleres</b> tendrán una duración de <b>90 minutos</b>.</li>
        </ul>
        <p>Queremos enfatizar la <b>puntualidad</b> que exigiremos para el comienzo y fin de cada actividad. Es por esto que recomendamos a los oradores tomar las precauciones que consideren adecuadas para asegurarse que su charla o taller respete los tiempos establecidos.</p>

        <h2 class="c-cfp__subtitle">Lugar</h2>
        <p>El evento se llevará a cabo en el Auditorio de ANTEL (Guatemala 1075).</p>
        <ul>
          <li>Las charlas se realizarán en la sala <a href="https://www.antel.com.uy/antel/institucional/nuestra-empresa/complejo-torre/complejo-cultural/auditorio">Mario Benedetti</a>.</li>
          <li>Los talleres se realizarán en la sala <a href="https://www.antel.com.uy/antel/institucional/nuestra-empresa/complejo-torre/complejo-cultural/sala-interactiva-8764">Idea Vilariño</a>.</li>
        </ul>

        <h2 class="c-cfp__subtitle">Audiencia</h2>
        <p>Los principales perfiles de los asistentes incluirán <b>desarrolladores</b>, <b>diseñadores</b>, <b>emprendedores</b> y <b>estudiantes</b> con diversos niveles de experiencia (desde principiantes a expertos).</p>

        <h2 class="c-cfp__subtitle">Temas</h2>
        <p>Es importante tener en cuenta que cada postulante puede presentar la <b>cantidad de propuestas</b> que desee.</p>
        <p>A continuación, presentamos una serie de temas que creemos serían oportunos considerar a la hora de presentar una propuesta:</p>
        <ul>
          <li>
            <b>Desarrollo mobile</b>
            <ul>
              <li>Nativo (Ej: Android, iOS)</li>
              <li>Web (Ej: Responsive Web Design, Accelerated Mobile Pages, Facebook Instant Articles)</li>
              <li>Multi-plataforma (React Native, Ionic, Cordova, Genexus, Xamarin)</li>
            </ul>
          </li>
          <li><b>Buenas prácticas en desarrollo mobile</b> (Ej: Arquitectura, Testing, Accesibilidad)</li>
          <li><b>Experiencia de usuario (UX)</b></li>
          <li><b>Diseño de productos mobile</b> (Ej: Aplicando Design thinking, Lean Startup, Product Design Sprint)</li>
          <li><b>Marketing/Publicación</b> (Ej: Analytics, App Store Optimization)</li>
          <li><b>Historias de éxito/fracaso</b> (Ej: Lecciones aprendidas sobre emprendimientos relacionados al mundo mobile)</li>
          <li><b>Nuevas tendencias</b> (Ej: Realidad virtual, realidad aumentada, IoT, wearables, nuevas formas de pago como Apple Pay o Android Pay, mobile gaming, desarrollo para vehículos como Android Auto o CarPlay)</li>
          <li><b>Otros temas</b>: Sugiérenos tú un tema que consideres interesante.</li>
        </ul>

        <h2 class="c-cfp__subtitle">Proceso de selección</h2>
        <p>Las propuestas serán evaluadas por un comité integrado por los organizadores junto a referentes con experiencia en diversas áreas.</p>
        <p>Entre otros aspectos se evaluarán: capacidad de impacto de la propuesta, público al que apunta, estructura, experiencia del orador sobre el tema y habilidad como expositor.</p>
        <p>Cabe mencionar que hay cierto tipo de propuestas que no estamos buscando y serán descartadas:</p>
        <ul>
          <li>Propuestas comerciales sobre un producto.</li>
          <li>Propuestas con fines de reclutamiento o para atraer talentos.</li>
          <li>Propuestas que no cumplan con el código de conducta.</li>
          <li>Propuestas que no estén estrictamente relacionadas con el mundo mobile.</li>
        </ul>

        <h2 class="c-cfp__subtitle">¿Qué brindamos?</h2>
        <ul>
          <li>El perfil de cada orador junto al abstract correspondiente a su charla será desplegado en nuestro sitio web.</li>
          <li>Todas las charlas serán grabadas, editadas y publicadas en <a href="http://youtube.com/mobiledayuy">nuestro canal</a> de YouTube.</li>
          <li>En caso de oradores que residan fuera de Uruguay, por favor envíanos un correo para evaluar tu situación en cuanto a gastos de traslado.</li>
        </ul>

        <h2 class="c-cfp__subtitle">Contacto</h2>
        <p>Comunícate a <a href="mailto:speakers@mobileday.uy">speakers@mobileday.uy</a> si tienes preguntas o precisas más información.</p>

        <div class="o-box">
          <a class="o-box__stuff c-cfp__submit-btn"
             href="https://docs.google.com/forms/d/e/1FAIpQLSdW6UMPRfKx4OE-IHQFzq4HKeFShE7i8jdc3RlPOJeWYdL8ow/viewform"
             onclick="ga('send', 'event', 'External links', 'Submit proposal', 'Link to Google Forms');">
            Enviar propuesta
          </a>
        </div>
      </article>
  </div>
</section>
