// ==========================================================================
// Box
// ==========================================================================

//
// An object to place any stuff centered.
//

.o-box {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
}

.o-box__stuff {
  display: table-cell;
  position: relative;
  padding: $base-spacing-unit;
  vertical-align: middle;

  @include media-query(large) {
    padding-right: $base-spacing-unit;
    padding-left: $base-spacing-unit;
  }
}





// ==========================================================================
// Special fixed-aspect-ratio padded Box
// ==========================================================================

//
// This uses the well known resource for fixed aspect ratio with
// the padding-bottom property.
// Here is a good explanation of how it works:
// http://alistapart.com/article/creating-intrinsic-ratios-for-video
//
// Includes responsive behavior.
//

$proportions-list: (
  "1x1": percentage(1 / 1),
  "2x1": percentage(1 / 2),
  auto: 0
);

@mixin box-ratio($grid-breakpoint: null) {
  @each $i, $padding in $proportions-list {
    .o-box--#{$i}#{$grid-breakpoint} {
      display: block;
      position: relative;
      padding-bottom: $padding;
      overflow: hidden;
    }
  }
}

@include box-ratio;

@include media-query(start) {
  @include box-ratio(-start);
}

@include media-query(small) {
  @include box-ratio(-small);
}

@include media-query(large) {
  @include box-ratio(-large);
}


[class*="o-box--"] > .o-box__stuff {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  width: 100%;
  height: auto;
}
