// ==========================================================================
// Wrapper
// ==========================================================================

//
// This is an object that limit the width of the content.
//

$wrapper-width:   1100px  !default;

.o-wrapper {
  max-width: $wrapper-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $base-spacing-unit;
  padding-left: $base-spacing-unit;
}

.o-wrapper-no-margin {
  @extend .o-wrapper;
  margin-left: 0;
  margin-right: 0;
  max-width: none;
}
